@charset "UTF-8";
html,
body {
    background-color: white;
    margin: 0px;
    font-size: 20px;
    max-width: 1920px;
    margin: 0 auto;
}
body ul {
    list-style: none;
}
body a {
    text-decoration: none;
}

@media screen and (max-width: 1600px) {
    html,
    body{
        /* background-color: red; */
        /* font-size: 18px; */
    }
    nav {
        flex-direction: column;
    }
    nav #nav-contents {
        display: none;
        flex-direction: column;
        padding-top: 2rem;
    }
    nav #nav-contents > ul:not(:first-child){
        margin-top: 1rem;
    }
    nav #nav_menu_icon {
        display: flex;
    }
    #nav-contents-lang li:last-child {
        padding-right: 0rem;
    }
}