@charset "UTF-8";
html,
body {
    background-color: white;
    margin: 0px;
    font-size: 20px;
    max-width: 1920px;
    margin: 0 auto;
}
body ul {
    list-style: none;
}
body a {
    text-decoration: none;
}

@media screen and (max-width: 1600px) {
    html,
    body{
        /* background-color: red; */
        font-size: 18px;
    }
}

@media screen and (max-width: 1450px) {
    html,
    body{
        /* background-color: blue; */
        font-size: 16px;
    }
}

@media screen and (max-width: 1300px) {
    html,
    body{
        /* background-color: palegreen; */
        font-size: 14px;
    }
}

@media screen and (max-width: 1150px) {
    html,
    body{
        /* background-color: pink; */
        font-size: 12px;
    }
}

@media screen and (max-width: 950px) {
    html,
    body{
        /* background-color: purple; */
        font-size: 10px;
    }
}
@media screen and (max-width: 768px) {
    html,
    body{
        /* background-color: seagreen; */
        font-size: 8px;
    }
}
@media screen and (max-width: 674px) {
    html,
    body{
        /* background-color: snow; */
        font-size: 6px;
    }
}
@media screen and (max-width: 584px) {
    html,
    body{
        /* background-color: slategrey; */
        font-size: 4px;
    }
}