@charset "UTF-8";

@media screen and (max-width: 500px) {
    div.en.contents-card .info .texts {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.en.contents-card .info .texts>div {
        /* font-size: .8em; */
        width: 80%;
        flex-direction: column;
        align-items: start;
    }
}