@charset "UTF-8";
#contents-main {
    width: 100%;
    height: 45.6rem;

    background-image: url("../Resources/Img/Math_1.png");
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contents-main-InfoA p {
    color: #FFFFFF;
}
#contents-main-InfoA p:nth-child(2){
    margin: .25rem 0rem 0rem 0rem;
}
#contents-main img{
    /* width: 27.5rem; */
    width: auto;
    height: 15rem;
    max-width: 546px;
    max-height: 297px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/**/
#contents-main-InfoA {
    background-color: #FF75C7;
    padding: 1.5rem 3rem 1.5rem 3rem;
    margin: 0rem 1rem;
    border-radius: 100rem / 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**/
#contents-main-InfoB {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0rem 1rem;
}
#contents-main-InfoB p{
    color: #6b6b6b;
}
/* #contents-main-InfoB p:nth-child(2){
    margin: .5rem 0rem .5rem 0rem;
} */