@charset "UTF-8";

#contents-main.en .pink-rectangle {
    width: 41em;
}

#contents-main.en .pink-rectangle p {}

@media screen and (max-width: 425px) {
    #contents-main.en {
        font-size: .8em;
        line-height: 1em;
    }

    #contents-main.en .pink-rectangle {
        width: 95%;
    }

    #contents-main.en .info p {
        line-height: 1em;
    }
}