@charset "UTF-8";


footer {
    display: flex;
    flex-direction: column;
}

footer ul{
    margin: 0rem;
    padding: 0rem;
}
/**/
footer #footer-link {
    width: 100%;
    display: flex;
    padding-top: 2.7rem;
    padding-bottom: .5rem;

    background-color: #FFE5CC;
    justify-content: center;
}
footer #footer-link li:nth-child(2){
    margin: 0rem 3rem;
}
footer #footer-link li:first-child img {
    width: 2.75rem;
}
footer #footer-link li:nth-child(2) img {
    width: 2.3rem;
}
footer #footer-link li:last-child img {
    width: 2.6rem;
}
/**/
footer #footer-info{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-family: "NanumSquareE";
    font-size: 1rem;
    color: #ffffff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    background-color: #FFD2B3;
}
footer #footer-info ul:not(:nth-child(2)) li:not(:last-child){
    padding-bottom: .125rem;
}
footer #footer-info ul:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer #footer-info ul:nth-child(2) li:first-child{
    padding-bottom: 1.5rem;
}
footer #footer-info ul:nth-child(2) img {
    width: 10.1rem;
}