@charset "UTF-8";

nav {
    width: auto;
    background-color: rgb(255, 255, 255);

    display: flex;

    padding: 1rem;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
/**/
nav #nav-main{
    display: flex;
    justify-content: space-between;
}
nav #nav_menu_icon {
    width: 2.68rem;
    height: 2.68rem;
    max-width: 48px;
    max-height: 48px;
    filter: opacity(0.5) drop-shadow(0 0 0 red);
    cursor: pointer;
    display: none;
}
/**/
#nav-logo {
    /* background-color: rgb(92, 92, 146); */
    display: flex;
}
#nav-logo ul{
    /* background-color: blue; */
    padding: 0%;
    display: flex;
    align-items: center;
}
#nav-logo li {
    /* background-color: rgb(190, 236, 163); */
    display: flex;
}
#nav-logo img {
    padding: 0rem 1rem 0rem 1rem;
    width: 8.4rem;
}
/**/
#nav-contents.active {
    display: flex;
}
#nav-contents{
    /* background-color: rgb(105, 72, 72); */
    width: 100%;
    display: flex;
    color: #6B6B6B;
    align-items: center;
    justify-content: flex-end;
}
/**/
#nav-contents-menu {
    /* background-color: #f0ffff; */
    display: flex;
    align-items: center;
}
#nav-contents-menu li {
    padding: 0rem 1rem 0rem 0rem;
}
#nav-contents-menu li:nth-child(-n+4):hover {
    color: #ffd200;
    cursor: pointer;
}
#nav-contents-menu li:not(:nth-child(-n+5)) a{
    color: #6B6B6B;
}
#nav-contents-menu li:not(:nth-child(-n+5)) a:hover {
    color: #ffd200;
    cursor: pointer;
}
/**/
#nav-contents-link {
    background-color: #AFAFAF;
    display: flex;
    margin: 0rem 3rem 0rem 3rem;
    padding: 0rem .3rem 0rem .3rem;
    border-radius: 100rem / 100rem;
    width: 7rem;
    height: 1.5rem;
    justify-content: center;
    justify-content: space-around;
}
#nav-contents-link li{
    display: flex;
    align-items: center;
    justify-items: center;
}
#nav-contents-link li:nth-child(2) {
    padding: 0rem .5rem 0rem .5rem;
}
#nav-contents-link img {
    display: flex;
    cursor: pointer;
    width: 1.2rem;
    height: auto;
}
/**/
#nav-contents-lang {
    /* background-color: rgb(226, 43, 104); */
    display: flex;
    align-items: center;
}
#nav-contents-lang li:nth-child(2) {
    padding: 0rem .5rem 0rem .5rem;
}
#nav-contents-lang li:last-child {
    padding-right: 1rem;
}
#nav-contents-lang li:not(:nth-child(2)):hover {
    color: #ffd200;
    cursor: pointer;
}