@charset "UTF-8";

.NanumB {
    font-family: "NanumSquareB";
}
.FontNomalSize {
    font-size: 20px;
}
/**/
.MarginZero{
    margin: 0rem 0rem 0rem 0rem;
}
.PaddingZero{
    padding: 0rem 0rem 0rem 0rem;
}
/**/
/**/
.clicked {
    color: #1ec8c8;
}